<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.options.skyCSS %>
  </head>
  <body>
  <%= htmlWebpackPlugin.options.skyJS %>
  </body>
</html>
